<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-item.css" rel="stylesheet">
    <title>Itens</title>
</head>
<body>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Codigo</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">

          <label for="exampleFormControlTextarea1">Descrição</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

          <label for="exampleFormControlInput1">Data de Entrada</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">

          <label for="exampleFormControlInput1">Data de Saida</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
          
          <label for="exampleFormControlInput1">Metodo de tratamento</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">

          <label for="exampleFormControlSelect1">Interno</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Sim</option>
            <option>Não</option>
          </select>

          <label for="exampleFormControlInput1">Terceiro</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">

          <label for="exampleFormControlInput1">Quantidade de Entrada</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">

          <label for="exampleFormControlInput1">Quantidade de Saida</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
        </div>

      </form>

      <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>