<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-item.css" rel="stylesheet">
    <title>Terceiros</title>
</head>
<body>
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nome Fantasia</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
  
            <label for="exampleFormControlInput1">CNPJ</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
  
            <label for="exampleFormControlInput1">Cnae</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
  
            <label for="exampleFormControlInput1">Razão Social</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
  
            <label for="exampleFormControlInput1">Data de abertura</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="10/09/2001">
  
            <label for="exampleFormControlInput1">Tipo</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
            
            <label for="exampleFormControlInput1">Natureza Juridica</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
        
            <input type="submit" value="Enviar">
        </div>
        
      </form>

      <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>